{% load static %}
{% load mathfilters %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href={% static 'css/detail_page.css' %}>
    <title>Document</title>
</head>

<body>
    {% if post %}
    <div class="detail_card">
        <div class="dc_card_header">
            <div class="dc_ch_profile">
                <img src="{{post.user.profile_url}}"
                    class="dc_ch_p_avatar">
                <div> {{post.user.nickname}}</div>
            </div>
            <div class="dc_ch_back">
                <div>{{post.created_at.date}}</div>
                <div class="dc_ch_b_heart">
                    {% if is_like %}
                    <i class="bi bi-heart-fill heart_btn" onclick="like('{{post.id}}')"></i>
                    {% else %}
                    <i class="bi bi-heart heart_btn" onclick="like('{{post.id}}')"></i>
                    {% endif %}
                    <div class="dc_ch_b_leng">{{ likes }}</div>
                </div>
            </div>
        </div>
        <img class="detail_img" src="{{post.post_img.post_img}}">
        <div class="dc_content">
            <div class="dc_tag_box">
                <div class="dc_tb_my_tag">
                    <img class="dc_tb_tag_img" src="{{shoe_tag.tag_image_url}}">
                    <div class="dc_tb_tag_title">{{shoe_tag.tag_title}}</div>
                </div>
                <div class="dc_tb_recommend_box">
                    {% for recommend_shoe in recommend_shoes %}
                    <img class="dc_tb_tag_img" src="{{recommend_shoe.tag_image_url}}">
                    {% endfor %}
                </div>
            </div>
            <div class="dc_content_box">
                <div class="dc_ch_profile">
                    <img src="{{post.user.profile_url}}"
                        class="dc_ch_p_avatar">
                    <div> {{post.user.nickname}}</div>
                </div>
                <div class="dc_db_content">{{post.contents}}</div>
            </div>
            <hr class="solid">
            <textarea class="comment_input" type="text" name="comment_input" id="comment_input"></textarea>
            <button class="comment_btn" onclick="comment_save({{post.id}})">제출</button>
            <div id="dc_comment_box_wrapper">
                {% for comment in comments%}
                <div class="dc_comment_box">
                    <div class="dc_cb_profile_box_wrapper">
                        <div class="dc_cb_profile_box">
                            <img class="dc_cb_pb_comment_avatar"
                                src="{{comment.user.profile_url}}">
                            <div class="dc_cb_pb_comment_nickname">{{comment.user.nickname}}</div>
                        </div>
                        <div class="dc_cb_content_box" id = "dc_cb_content_box_{{comment.id}}">{{comment.content}}</div>
                    </div>
                    {% if comment.user == user%}
                        <div class="dc_cb_button_box" id = "dc_cb_button_box_{{comment.id}}">
                            <div id="edit_btn_{{comment.id}}" class="edit_btn" onclick="edit_ready({{post.id}},'{{comment.id}}','{{comment.content}}')">수정</div>
                            <div id="delete_btn_{{comment.id}}" onclick="comment_delete('{{post.id}}', '{{comment.id}}')" class="delete_btn">삭제</div>
                        </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <div class="more_btn">댓글 {{comments|length | sub:3}}개 더보기</div>
        </div>
        {% endif %}

</body>
<script src={% static 'js/detail_page.js' %}></script>

</html>