<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% if post %}
        <div> {{post.user__nickname}}</div>
        <img src="{% url 'post_images' post.post_img.id %}">
        <img src={{post.shoe_tags.tag_img_url}} alt="">
        <div>{{post.shoe_tags__tag_title}}</div>
    {% endif %}
</body>

</html>