{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'css/main.css' %}>
    <title>main</title>

</head>
<body>

    <div class="wrap">
        <div class="upload_modal_background">
            <div class="upload_modal">
                <div class="upload_file_image"></div><!-- 미리 보기 이미지 영역 -->
                <form id="upload_file_form" class="upload_file_form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="input_file" id="input_file">
                    <textarea name="input_content" id="input_content" class="input_content" cols="30" rows="10" placeholder="여기에 content를 작성 해 주세요!!"></textarea>
                    <div class="input_tag_title_area">
                        <input type="text" name="input_tag_title" class="input_tag_title" id="input_tag_title" placeholder="태그하실 신발의 이름을 골라주세요!!">
                        {% for all_shoe in all_shoe_list %}
                        <div class="input_tag_title_list">
                            <div class="input_tag_title_list_obj" id="input_tag_title_list_obj_{{all_shoe.tag_title}}" onclick="take_tag_title('{{all_shoe.tag_title}}')">
                                {{all_shoe.tag_title}}
                            <hr>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </form>
                {% if messages %}
                {% for message in messages %}
                <div class="error_message">
                    {{ message.tags }}
                    {{ message.message }}
                </div>
                {% endfor %}
                {% endif %}
                <button form="upload_file_form" type="submit">Upload</button>
            </div>
        </div>
        <div class="top">
            <div class="t_left_image">
            </div>
            <div class="t_middle_title">
                <div class="t_mt_title">ㄷㅅㄱ</div>
                <div class="t_mt_logo">딛고 서고 걷다</div>
            </div>
            <div class="t_right_tag">
                <div class="t_rt_subtitle">
                    <div class="t_rt_st_tag">추천 신발 태그</div>
                </div>
                <div class="t_rt_images_box">
                    <div class="t_rt_ib_images"></div>
                    <div class="t_rt_ib_images"></div>
                    <div class="t_rt_ib_images"></div>
                    <div class="t_rt_ib_images"></div>  
                </div>
            </div>
        </div>
        <div class="middle">
            <div class="m_subheader">
                <div class="m_sb_recency">최신</div>
                <div class="m_sb_suggest">추천</div>
                <div class="m_sb_following">팔로잉</div>
            </div>
        </div>
        <div class="button" onclick="open_modal()">+</div>
        <div class="bottom">
            {% for post_image, shoe_tag, post, post_user_ids_data in post_shoe_list %}
            <div class="bt_pb_post">
                <div class="bt_pb_pt_img"><img src="/post/post_images/{{ post_image }}" alt="" width="300"></div>
                <div class="bt_pb_pt_content">
                    <div class="bt_pb_pt_ct_user">
                        <div class="bt_pb_pt_ct_us_profile_img"><img src="https://images.unsplash.com/photo-1512374382149-233c42b6a83b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fHNob2VzfGVufDB8MXwwfHw%3D&auto=format&fit=crop&w=500&q=60" width="37" height="37" alt=""></div>
                        <div class="bt_pb_pt_ct_us_profile_name">{{post_user_ids_data.username}}</div>
                    </div>
                    <div class="bt_pb_pt_ct_comment">{{post.contents}}</div>
                    <div class="bt_pb_pt_ct_likes_comments">좋아요x개 댓글x개</div>
                    <div class="bt_pb_pt_ct_shoe_tag">
                        
                        <div class="bt_pb_pt_ct_st_img" style="background-image :url({{ shoe_tag.tag_image_url }}) "></div>
                        
                        <div class="bt_pb_pt_ct_st_tag_inpo">
                            <div class="bt_pb_ct_st_ti_tag_name">{{ shoe_tag.tag_title }}</div>
                            <div class="bt_pb_ct_st_ti_tag_price">{{ shoe_tag.tag_price }}원</div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>
    </div>
    
</body>
<script src={% static 'js/main.js' %}></script>
</html>