<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        user_list
        {% for user in users%}
            <a href={% url 'follow' user.pk%}>{{ user.nickname}}</a>
        {% endfor %}
    </div>

    <div>
        follower
        {% for follower in followers %}
        <a href= {% url 'follow' follower.pk%}>{{follower.nickname}}</a>
        {% endfor %}
    </div>
</body>
</html>