{% extends 'user/user_base.html' %}

{% block content %}
<div>
    <label class="sign_up_label" for="username">이메일 주소</label>
    <input class="user_input" type="email" id="new_username" name="username">
    <label class="sign_up_label" for="new_password">비밀번호</label>
    <input class="user_input" type="password" id="new_password" name="password">
    <label class="sign_up_label" for="nickname">닉네임</label>
    <input class="user_input" type="text" id="new_nickname" name="nickname">
    <button class="sign_up_btn" onclick="sign_up()">회원가입</button>
</div>
{% endblock %}